body {
    color: #fff;
    background: #3598dc;
}

header{
    background-color: #222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 h1{
     margin-left: 40px;
 }
#svk{

    background-image: url("../img/logo.png");
}

.form-control {
    min-height: 41px;
    background: #FAFAFA;
    box-shadow: none !important;
}
.form-control:focus {
    background: #F2F2F2;
}
.form-control, .btn {
    border-radius: 2px;
}
.login-form {
    width: 350px;
    margin: 80px auto;
    text-align: center;
}
.login-form h2 {
    margin: 10px 0 25px;
}
.login-form form {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    outline: none !important;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #2389cd;
}
.login-form a {
    color: #fff;
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.login-form form a:hover {
    text-decoration: underline;
}
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #fff;
    position: relative;
    top: -11px;
    z-index: 1;
}
.avatar {
    margin: 0 auto ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    background: #E6E6E6;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#ldap{
    background-color: #04B404;
}
#ldap:hover{
    background-color: #088A08;
}
.fa-user-circle-o {
    font-size: 100px;
}
.avatar i{
    color: #222;
    margin-left: -10px;
    margin-top: -10px;
}
h2{
    color: #222222;
}